/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #333;
    color: #fff;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;

}

nav ul li a:hover {
    color: red;
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-color: #fff;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.whatsapp-link {
    text-align: center;
}

.whatsapp-link a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #25D366; /* WhatsApp green color */
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-link a:hover {
    background-color: #128C7E; /* Darker shade for hover effect */
}

.hero-image img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}